body {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0 -15px;
}

header {
    height: 967px;
    background-image: url(../img/bg_f.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

header div.menu {
    height: 134px;
    background: rgba(255, 255, 255, 0.5);
}

header div.menu a img.logo {
    margin-top: 15px;
    display: block;
    padding-left: 100px;
}

header div.menu a img.search {
    display: block;
    padding-left: 100px;
    padding-top: 50px
}

header nav ul {
    list-style: none;
    padding-right: 50px;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #CF96BC;
    text-decoration: underline;
}

header div.call-to h1 {
    margin-top: 250px;
    text-align: center;
    font-size: 72px;
}

header div.call-to h1 span {
    text-align: center;
    font-size: 72px;
}

header div.call-to h1 span.letter {
    color: #fff;
}

header div.call-to h1 span.letter:hover {
    color: #CF96BC;
}

header div.call-to h1 span {
    color: #CF96BC;
}

header div.call-to p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

header div.call-to div a {
    display: block;
    width: 150px;
    height: 50px;
    background: #CF96BC;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header div.call-to div a:hover {
    color: #1F2F2E;
    border: 1px solid #1F2F2E;
    background-color: rgba(207, 150, 188, 0.7);
    transition: .2s;
}

header div.call-to div h1 span:hover {
    color: #fff;
}

header div.call-to div h1 p:hover {
    color: #fff;
}


/********************************************
*************Our services********************
********************************************/

section.our-services h2 {
    color: #1F2F2E;
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #CBD4CA;
}

section.our-services div h3 {
    color: #1F2F2E;
    font-size: 24px;
}

section.our-services div p {
    color: #1F2F2E;
    font-size: 16px;
    line-height: 24px;
}

section.our-services div a.buttom {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #CF96BC;
    height: 45px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 41px;
    margin: 35px auto;
}

section.our-services div a.buttom:hover {
    color: #CF96BC;
    border: 1px solid #CF96BC;
    background: #fff;
    transition: .2s;
}




























