body {
    font-family: 'Gloria Hallelujah', cursive;
    margin: 0;
}

.container-fluid {
    padding: 0px;
}

header {
    height: 967px;
    background-image: url(../img/bg_f.jpg);
    background-repeat: no-repeat;
    background-position: center center;
}

header div.menu {
    height: 134px;
    width: 100%;
    position: fixed;
    color: #7D1165;
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
}

header div.menu a img.logo {
    margin-top: 15px;
    display: block;
    padding-left: 100px;
}

header div.menu a img.search {
    display: block;
    padding-left: 100px;
    padding-top: 50px;
}

header nav ul {
    list-style: none;
    padding-right: 50px;
    margin: 0;
}

header nav ul li {
    display: inline-block;
    margin-right: 50px;
}

header nav ul li a {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}

header nav ul li a:hover {
    color: #CF96BC;
    text-decoration: underline;
}

header div.call-to h1 {
    margin-top: 250px;
    text-align: center;
    font-size: 72px;
}

header div.call-to h1 span {
    text-align: center;
    font-size: 72px;
}

header div.call-to h1 span.letter {
    color: #fff;
}

header div.call-to h1 span.letter:hover {
    color: #CF96BC;
}

header div.call-to h1 span {
    color: #CF96BC;
}

header div.call-to p {
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-top: 20px;
}

header div.call-to div a {
    display: block;
    width: 150px;
    height: 50px;
    background: #CF96BC;
    color: #fff;
    border-radius: 15px;
    text-align: center;
    margin: 0 auto;
    line-height: 45px;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

header div.call-to div a:hover {
    color: #1F2F2E;
    border: 1px solid #1F2F2E;
    background-color: rgba(207, 150, 188, 0.7);
    transition: .2s;
}

header div.call-to div h1 span:hover {
    color: #fff;
}

header div.call-to div h1 p:hover {
    color: #fff;
}


/********************************************
*************Our services********************
********************************************/

div.back-services {
    background-image: url(../img/back-services.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding-bottom: 140px;
}

section.our-services h2 {
    color: #1F2F2E;
    font-size: 48px;
    text-align: center;
    margin-top: 30px;
    border-bottom: 1px solid #CBD4CA;
}

section.our-services div h3 {
    color: #1F2F2E;
    font-size: 24px;
}

section.our-services div p,
div.services-2 div p {
    color: #1F2F2E;
    font-size: 16px;
    line-height: 24px;
    max-width: 520px;
    text-indent: 1.5em;
}

div.services-3 {
    margin-top: 40px;
}

div.services-3 div p {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    max-width: 520px;
    margin-left: 30px;
    text-indent: 1.5em;
}

section.our-services div.row div img {
    max-width: 100%;
}

section.our-services div a.buttom {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #CF96BC;
    height: 45px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 41px;
    margin: 35px auto;
}

section.our-services div a.buttom:hover {
    color: #CF96BC;
    border: 1px solid #CF96BC;
    background: #fff;
    transition: .2s;
}

div.services-2 div h3 {
    color: #1F2F2E;
    font-size: 35px;
}

div.services-3 div h3 {
    color: #fff;
    margin-left: 30px;
    font-size: 35px;
}

div.services-2 div a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #CF96BC;
    height: 45px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 41px;
    margin-top: 50px;
}

div.services-3 div a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #fff;
    height: 45px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #CF96BC;
    line-height: 41px;
    margin-top: 50px;
    margin-left: 30px;
}

div.services-2 a:hover {
    color: #CF96BC;
    border: 1px solid #CF96BC;
    background: #fff;
    transition: .2s;
}

div.services-3 div a:hover {
    color: #fff;
    border: 1px solid #fff;
    background: #CF96BC;
    transition: .2s;
}


/********************************************
*************Section boy********************
********************************************/

section.boy {
    height: auto;
}

section.boy div img {
    max-width: 100%;
}

section.boy div h3 {
    color: #1F2F2E;
    font-size: 72px;
    max-width: 600px;
    margin-left: 75px;
    margin-top: 10px;
    line-height: 100%;
}

section.boy div p {
    color: #1F2F2E;
    font-size: 16px;
    max-width: 600px;
    margin-left: 75px;
    text-indent: 1.5em;
}

section.boy div a {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #CF96BC;
    height: 45px;
    width: 150px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 41px;
    margin-top: 40px;
    margin-left: 75px;
}

section.boy div a:hover {
    color: #CF96BC;
    border: 1px solid #CF96BC;
    background: #fff;
    transition: .2s;
}

/********************************************
*************Section next-bay********************
********************************************/

section.next-boy {
    min-height: 430px;
}

section.next-boy div.block-1 {
    background-image: url(../img/pexels_photo_1.jpeg);
    min-height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
}

section.next-boy div.block-2 {
    background-image: url(../img/pexels_photo_2.jpeg);
    min-height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
}

section.next-boy div.block-3 {
    background-image: url(../img/pexels_photo_4.jpeg);
    min-height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
}

section.next-boy div.block-4 {
    background-image: url(../img/pexels_photo_3.jpeg);
    min-height: 430px;
    background-position: center center;
    background-repeat: no-repeat;
}

section.next-boy h4 {
    color: #fff;
    font-size: 48px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    margin: 0px;
    padding: 120px 35px 0 35px;
}

section.next-boy h4:hover {
    background: rgba(207, 150, 188, 0.2);
}

/********************************************
*************Check our********************
********************************************/

section.check-our {
    height: 850px;
}

section.check-our h2 {
    color: #1F2F2E;
    font-size: 70px;
}

section.check-our h2 span {
    color: #CF96BC;
}

section.check-our img {
    display: block;
    margin: 0 auto;
    width: 234px;
    height: 234px;
}

section.check-our div.name {
    color: 1F2F2E;
    font-size: 34px;
    text-align: center;
    margin: 22px 5px;
}

section.check-our div.col-3 p {
    color: #1F2F2E;
    font-size: 16px;
    line-height: 24px;
    margin: auto 15px;
    text-align: justify;
    text-indent: 1.5em;
}

section.check-our p {
    margin-right: 10px;
    text-indent: 1.5em;
}

/********************************************
*************footer**************************
********************************************/

section.footer {
    background-image: url(../img/footer.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    height: auto;
}

section.footer div.contact {
    color: #fff;
    font-size: 70px;
    font-weight: bold;
    margin-top: 50px;
    line-height: 140%;

}

section.footer p {
    color: darkgrey;
    font-size: 30px;
    margin: 20px 0 0 0;
}

section.footer p.adress {
    color: darkgrey;
    font-size: 18px;
}

section.footer p span {
    color: #CF96BC;
}

section.footer ul {
    list-style: none;
    margin-top: 70px;
    padding: 0;
}

section.footer ul li {
    display: inline-block;
    margin-right: 30px;
    width: 55px;
    height: 55px;
    border-radius: 27px;
}

section.footer ul li.facebook {
    background: #3b5998;
    padding: 15px 23px;
}

section.footer ul li.twitter {
    background: #55acee;
    padding: 15px 18px;
}

section.footer ul li.pinterest {
    background: #cc2127;
    padding: 15px 21px;
}

section.footer ul li.google {
    background: #dd4b39;
    padding: 15px 21px;
}

section.footer ul li.email {
    background: #e23047;
    padding: 15px 18px;
}

section.footer ul li:hover {
    background: rgba(130, 130, 130, 0.6);
    cursor: pointer;
    transition: .5s;
}

section.footer input[type="text"],
section.footer input[type="email"] {
    width: 635px;
    height: 60px;
    background: none;
    border-radius: 6px;
    border: 1px solid #535353;
    color: #fff;
    font-size: 17px;
    display: block;
    padding-left: 30px;
    margin: 20px auto;
}

section.footer input[type="text"] {
    margin-top: 80px;
}

section.footer textarea {
    width: 635px;
    height: 300px;
    background: none;
    border-radius: 6px;
    border: 1px solid #535353;
    color: #fff;
    font-size: 17px;
    display: block;
    padding: 30px;
    margin: 20px auto;
    resize: none;
}

section.footer button {
    display: block;
    text-align: center;
    text-decoration: none;
    background: #CF96BC;
    height: 45px;
    width: 190px;
    border-radius: 24px;
    font-size: 16px;
    color: #fff;
    line-height: 41px;
    margin: 30px auto;
    border: none;
}

section.footer button:hover {
    color: #CF96BC;
    background: #fff;
    transition: .2s;
}

footer {
    height: 100px;
    background: #000;
}

footer p,
footer ul {
    list-style-type: none;
    margin-top: 35px;
    padding: 0px;
    color: #fff;
}

footer ul li {
    display: inline-block;
    margin-right: 20px;

}

footer ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

footer ul li a:hover {
    text-decoration: underline;
}

footer p {
    text-align: right;
    margin-top: 25px;
}

.img-adaptive {
    display: block;
    max-width: 100%;
    height: auto;
}



/********************************************
*************adaptation**********************
********************************************/

@media (max-width: 575.98px) {
    header div.menu a img.logo {
        padding-left: 30px;
        height: 45px;
    }

    header div.menu {
        height: 10%
    }

    header div.call-to h1 {
        margin-top: 320px;
        font-size: 28px;
        line-height: 120%;
    }

    header {
        height: 100vh;
        background-image: url(../img/bg_f.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    header div.call-to p {
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin-top: 30px 0;
    }

    header div.call-to div a {
        margin-top: 50px;
    }

    section.our-services h2 {
        color: #1F2F2E;
        font-size: 38px;
        text-align: center;
        margin-top: 20px;
    }

    section.our-services div h3 {
        text-align: center;
    }

    section.our-services div img.flower_min {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    section.our-services div p,
    div.services-2 div p {
        font-size: 16px;
        line-height: 24px;
        text-indent: 1.5em;
        text-align: justify;
    }

    section.our-services div.col-lg-3 h3 {
        margin-top: 10px;
    }

    div.services-2 div h3,
    div.services-3 div h3 {
        margin: 0;
    }

    div.back-services {
        padding-bottom: 40px;
    }

    section.boy {
        height: auto;
    }

    section.boy {
        display: none;
    }

    section.next-boy h4 {
        font-size: 36px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        margin: 0px;
        padding: 120px 35px 0 35px;
        line-height: 130%;
    }

    section.check-our h2 {
        font-size: 36px;
        text-align: center;
        line-height: 100%;
    }

    section.check-our img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    section.check-our p {
        margin-right: 10px;
        text-indent: 1.5em;
    }

    section.check-our div.name {
        font-size: 25px;
        line-height: 110%;
    }

    section.check-our {
        height: auto;
    }

    section.footer div.contact {
        color: #fff;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin-top: 0px;
    }

    section.footer p.adress {
        font-size: 14px;
        text-align: center;
    }

    section.footer p {
        font-size: 24px;
        margin-top: 15px;
        text-align: center;
    }

    section.footer ul {
        list-style-type: none;
        padding: 20px;
        margin: 0 auto;
        width: 494px;
    }

    section.footer ul {
        background-position: top center;
        background-repeat: no-repeat;
    }

    section.footer input[type="text"] {
        margin-top: 20px;
    }

    section.footer textarea {
        height: 140px;
        width: 450px;
    }

    section.footer input[type="text"],
    section.footer input[type="email"] {
        width: 450px;
        height: 45px;
    }

    section.footer button:hover {
        color: #CF96BC;
        background: #fff;
        transition: .2s;
    }

    footer ul li {
        display: inline-block;
        font-size: 14px;
        margin-left: -10px;
    }

    footer p {
        list-style-type: none;
        margin-top: 5px;
        text-align: right;
        color: #fff;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    header div.menu a img.logo {
        padding-left: 30px;
        height: 85px;
    }

    header div.menu {
        height: 15%
    }

    header div.call-to h1 {
        margin-top: 320px;
        font-size: 28px;
        line-height: 120%;
    }

    header {
        height: 100vh;
        background-image: url(../img/bg_f.jpg);
        background-repeat: no-repeat;
        background-position: center center;
    }

    header div.call-to p {
        text-align: center;
        color: #fff;
        font-size: 25px;
        margin-top: 30px 20px;
    }

    header div.call-to div a {
        margin-top: 50px;
    }

    section.our-services div h3 {
        text-align: center;
        line-height: 120%;
    }

    section.our-services div img.flower_min {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    section.our-services div p,
    div.services-2 div p {
        margin-right: 10px;
    }

    section.our-services div.col-lg-3 h3 {
        margin-top: 10px;
    }

    div.services-2 div h3,
    div.services-3 div h3 {
        margin: 0;
    }

    div.back-services {
        padding-bottom: 40px;
    }

    section.boy {
        height: auto;
    }

    section.boy div img {
        max-height: 100%;
    }

    section.boy div h3 {
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        font-size: 28px;
        width: 90%;
    }

    section.boy div p {
        margin-left: 20px;
        line-height: 150%;
    }

    section.boy div a {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    section.next-boy h4 {
        font-size: 36px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        margin: 0px;
        padding: 120px 35px 0 35px;
        line-height: 130%;
    }

    section.check-our h2 {
        font-size: 36px;
        text-align: center;
        line-height: 100%;
    }

    section.check-our img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    section.check-our p {
        margin-right: 10px;
        text-indent: 1.5em;
    }

    section.check-our div.name {
        font-size: 25px;
        line-height: 110%;
    }

    section.check-our {
        height: auto;
    }

    section.footer div.contact {
        color: #fff;
        font-size: 40px;
        text-align: center;
        font-weight: bold;
        margin-top: 0px;
    }

    section.footer p.adress {
        font-size: 14px;
        text-align: center;
    }

    section.footer p {
        font-size: 24px;
        margin-top: 15px;
        text-align: center;
    }

    section.footer ul {
        list-style-type: none;
        padding: 20px;
        margin: 0 auto;
        width: 494px;
    }

    section.footer ul {
        background-position: top center;
        background-repeat: no-repeat;
    }

    section.footer input[type="text"] {
        margin-top: 20px;
    }

    section.footer textarea {
        height: 140px;
        width: 450px;
    }

    section.footer input[type="text"],
    section.footer input[type="email"] {
        width: 450px;
        height: 45px;
    }

    section.footer button:hover {
        color: #CF96BC;
        background: #fff;
        transition: .2s;
    }

    footer ul li {
        display: inline-block;
        font-size: 14px;
        margin-left: -10px;
    }

    footer p {
        list-style-type: none;
        margin-top: 5px;
        text-align: right;
        color: #fff;
    }

}




@media (min-width: 768px) and (max-width: 991.98px) {
    header div.menu a img.logo {
        padding-left: 30px;
    }

    header div.call-to h1 {
        margin-top: 250px;
        font-size: 48px;
        line-height: 140%;
    }

    header div.call-to p {
        text-align: center;
        color: #fff;
        font-size: 30px;
        margin-top: 30px 0;
    }

    header {
        height: 100vh;
    }

    header div.call-to div a {
        margin-top: 30px;
    }

    section.our-services div h3 {
        text-align: center;
    }

    section.our-services div img.flower_min {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    section.our-services div p,
    div.services-2 div p {
        margin-right: 10px;
    }

    section.our-services div.col-lg-3 h3 {
        margin-top: 10px;
    }

    div.services-2 div h3,
    div.services-3 div h3 {
        margin: 0;
    }

    div.services-2 div a {
        display: block;
        text-align: center;
        text-decoration: none;
        background: #fff;
        height: 45px;
        width: 150px;
        border-radius: 24px;
        font-size: 16px;
        color: #CF96BC;
        line-height: 41px;
        margin-top: 50px;
        margin-left: 30px;
    }

    div.services-2 div a:hover {
        background: #CF96BC;
        color: #fff;
        border: 1px solid #fff;
    }

    div.back-services {
        padding-bottom: 40px;
    }

    section.boy {
        height: auto;
    }

    section.boy div img {
        max-height: 100%;
    }

    section.boy div h3 {
        margin: 0 auto;
        margin-top: 10px;
        text-align: center;
        font-size: 28px;
        width: 90%;
    }

    section.boy div p {
        margin-left: 20px;
        line-height: 180%;
    }

    section.next-boy h4 {
        font-size: 36px;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.7);
        margin: 0px;
        padding: 130px 35px 0 35px;
    }

    section.check-our h2 {
        font-size: 36px;
        text-align: center;
    }

    section.check-our img {
        display: block;
        margin: 0 auto;
        width: 150px;
        height: 150px;
    }

    section.check-our p {
        margin-right: 10px;
        text-indent: 1.5em;
    }

    section.check-our div.name {
        font-size: 25px;
        line-height: 110%;
    }

    section.check-our {
        height: auto;
    }

    section.footer div.contact {
        color: #fff;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        margin-top: 0px;
    }

    section.footer p.adress {
        font-size: 14px;
        text-align: center;
    }

    section.footer p {
        font-size: 24px;
        text-align: center;
    }

    section.footer ul {
        list-style-type: none;
        padding: 20px;
        margin: 0 auto;
        width: 494px;
    }

    section.footer ul {
        background-position: top center;
        background-repeat: no-repeat;
    }

    section.footer input[type="text"] {
        margin-top: 10px;
    }

    section.footer textarea {
        height: 120px;
    }

    section.footer input[type="text"],
    section.footer input[type="email"] {
        height: 40px;
    }

    section.footer button:hover {
        color: #CF96BC;
        background: #fff;
        transition: .2s;
    }

    footer p {
        list-style-type: none;
        margin-top: 15px;
        text-align: right;
        color: #fff;
    }
}





@media (min-width: 992px) and (max-width: 1199.98px) {
    header nav ul li {
        margin-right: 18px;
    }

    section.our-services div p,
    div.services-2 div p {
        padding-right: 10px;
    }

    section.our-services div h3 {
        padding-right: 10px;
        line-height: 120%;
        text-align: center;
        margin-top: 0;
    }

    section.our-services div img.flower_min {
        display: block;
        margin: 0 auto;
        width: 80px;
    }

    div.services-2 h3,
    div.services-3 h3 {
        margin: 0;
    }

    section.boy div h3 {
        margin: 0;
        text-align: center;
        font-size: 36px;
        margin-top: 10px;
    }

    section.boy {
        height: auto;
    }

    section.boy div p {
        margin-left: 20px;
        line-height: 170%;
    }

    section.boy div a {
        margin-top: 0px
    }

    section.next-boy h4 {
        font-size: 36px;
        padding: 80px 35px 0 35px;
    }

    section.check-our h2 {
        font-size: 36px;
        text-align: center;
    }

    section.check-our img {
        display: block;
        margin: 0 auto;
        width: 200px;
        height: 200px;
    }

    section.check-our div.name {
        line-height: 110%;
        font-size: 30px;
    }

    section.check-our {
        height: auto;
    }

    section.footer div.contact {
        font-size: 36px;
    }

    section.footer p.adress {
        font-size: 14px;
    }

    section.footer p {
        font-size: 24px;
    }

    section.footer ul li {
        margin-right: 10px;

    }

    section.footer input[type="text"],
    section.footer input[type="email"],
    section.footer textarea {
        width: 400px;
    }

    section.footer {
        height: auto;
    }
}




@media (min-width: 1200px) and (max-width: 1409.98px) {
    header div.call-to h1 {
        margin: 250px auto;
        width: 90%;
    }

    div.services-3 div h3 {
        margin-top: 0px;
    }

    div.services-2 div h3 {
        margin-top: 0px;
    }

    section.our-services div p,
    div.services-2 div p {
        padding-right: 10px;
    }

    section.boy {
        height: auto;
    }

    section.boy div h3 {
        color: #1F2F2E;
        font-size: 52px;
        margin-left: 75px;
        margin-top: 20px;
        line-height: 100%;
        text-align: center;
    }

    section.boy div p {
        color: #1F2F2E;
        text-indent: 1.5em;
        line-height: 160%;
    }

    section.boy div a {
        margin-top: 20px;
    }

    section.next-boy h4 {
        font-size: 36px;
    }

    section.next-boy h4:hover {
        font-size: 36px;
    }

    section.check-our h2 {
        text-align: center;
    }

    section.check-our p {
        margin-right: 10px;
        text-indent: 1.5em;
    }

    section.footer input[type="text"],
    section.footer input[type="email"],
    section.footer textarea {
        width: 400px;
    }

    footer p {
        text-align: right;
        margin-top: 25px;
    }
}
